body{
  margin:0;
}

#canvas{
  position: fixed;
}

.options{
  position: fixed;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.toggle-button { background-color: red; margin: 5px 0; border-radius: 20px; border: 2px solid red; height: 24px; cursor: pointer; width: 90px; position: relative; display: inline-block; user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; }
.toggle-button button { cursor: pointer; outline: 0; display:block; position: absolute; left: 0; top: 0; border-radius: 100%; width: 28px; height: 28px; background-color: white; float: left; margin: -2px 0 0 -2px; border: 2px solid red; transition: left 0.3s; }
.toggle-button-selected { background-color: blue; border: 2px solid blue; }
.toggle-button-selected button { left: 66px; top: 0; margin: 0; border: none; width: 24px; height: 24px; box-shadow: 0 0 4px rgba(0,0,0,0.1); }

.toggle-button .description{
  width: 55px;
  position: absolute;
  left: 34px;
  top: 3px;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.toggle-button-selected .description{
  left: 10px;
}

.options .status{
  padding-top: 10px;
  font-family: "Helvetica", sans-serif;
}
